/* Preloader Animations */
@keyframes preloaderFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes preloaderPulse {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.1); }
}

@keyframes preloaderBounce {
  0%, 80%, 100% {
    transform: scale(1);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.3);
    opacity: 1;
  }
}

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "~bootstrap/scss/bootstrap";
@import "public/scss/main.scss";

